.img{
    display: block;
    width: 60%;
    height: 30rem;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    margin-bottom: 2rem;
    border-radius: 50%;
    border: 0.5rem solid var(--main-color)
}  

.conteiner{
    display: block;
    width: 50%;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
}
.conteiner_Name{
    display: grid;
    grid-template-columns: auto auto;
    text-align: left;
    margin: 1rem;
    align-items: center;
}

.price{
    text-align: right;
    margin-right: 1em;
    color: var(--main-color);
    font-weight: 700;
}

.description{
    text-align: left;
    color: var(--text-color);
    margin: 1.5rem;
    font-size: 1.25rem;
}

p{
    font-size: .9rem;
    color: var(--text-color);
}

.conteiner_buttons{
    display:block;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    justify-content:center;
    text-align: center;
    width: 50%;
}

.btn1, .btn2{
    width: 95%;
    height: 4rem;
    align-items: center;
    justify-content: center;
    will-change: 400;
    font-size: 1.2rem;
    text-transform: uppercase;
    background-color: var(--main-color);
    color: var(--light-color);
    border: none;
    border-radius: .4rem;
}
.btn2{
    background-color:var(--secondary-color);
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.btn1:hover{
    cursor: pointer;
}
.btn2:hover{
    cursor: pointer;
}

.time{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
h3{
    font-size: 1rem;
    color: var(--text-color);
}

.timeSpan{
    color: var(--main-color);
}

@media (max-width: 900px) {

    .conteiner{
        width: 100%;
    }

    .img{
        width: 100%;
        height: 15rem;
        border-radius: 0;
        border: none;
    } 
    
    .conteiner_buttons{
        width: 100%;
    }
}