body {
  font-size: 1.6rem;
  background-color: var(--gris-claro);
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.error {
  padding: 1rem auto;
  max-width: 60rem;
  margin: 2rem auto 2rem auto;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1rem;
  text-align: center;
  background-color: var(--blanco);
  border-left: 0.6rem solid #b91c1c;
  color: #b91c1c;
  margin-left: 1rem;
  height: 1rem;
}
.success {
  padding: 1rem auto;
  max-width: 60rem;
  margin: 2rem auto 2rem auto;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1rem;
  text-align: center;
  background-color: var(--blanco);
  border-left: 0.6rem solid #06cf9c;
  color: #06cf9c;
  margin-left: 1rem;
  height: 1rem;
}
