.containerGlobalUsers {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.tituloUsuarios {
  font-size: large;
  font-weight: bold;
  color: var(--main-color);
  margin-bottom: 5%;
}
.globalContainerConDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.containerCardsUsers {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cardUser {
  width: 95%;
  min-height: 90px;
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  background-color: var(--light-color);
}
.divInfo{
    display: none;
    width: 95%;
    flex-direction: row;
    justify-content: space-between;
    padding: 5%;
    border:2px solid  var(--light-color);
    border-top: transparent;
   
}
.divInfo select{
   font-family: "Comfortaa", cursive;
   font-size: small;
   border-radius: 10px;
   
}
.btnAceptar{
    width: 40%;
    background-color: var(--main-color);
    height: 5%;
    border: transparent;
    color: white;
    border-radius: 20px;
    font-family: "Comfortaa", cursive; ;
}
.cardUser img {
  width: 30%;
}

.cardsUsersInfo {
  background-color: var(--light-color);
  width: 60%;
  text-align: left;
  padding: 3%;
}

.cardsUsersInfo h1 {
  font-size: large;
  margin: 0;
}
.cardsUsersInfo p {
  font-size: x-small;
  margin: 0;
}
.cardsUsersInfo span {
  font-weight: bold;
}

.estadoActivacionActivo{
    font-weight: normal !important;
    color: green;
}
.estadoActivacionInactivo{
    font-weight: normal !important;
    color: red;
}
/* .infoProfile{
    text-align: left;
    padding-left:5%;
} */

.btnEditar {
  display: flex;
  align-items: flex-end;
  min-height: 100%;
  width: 10%;
  padding-bottom: 5%;
  
}
.simboloEditar {
  color: var(--light-color);
  background-color: var(--main-color);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-variation-settings: "FILL" 0, "wght" 310, "GRAD" 0, "opsz" 48;
}
